<h2 class="bg-zinc-700 text-2xl text-white">Static File Served</h2>

{{#if showHeadline}}
  <h4>Headline SHown</h4>
{{else}}
  <h4>Headline not shown</h4>
{{/if}}

{{#if task}}
    <p>{{task.title}}</p>
{{/if}}